<h3>Pure Pipes</h3>
<p title="{{ 'home.greeting' | translate:locale.language }}">{{ 'home.greeting' | translate:locale.language }}</p>
<p>{{ 'home.whoIAm' | translate:locale.language:{ name: 'Angular l10n' } }}</p>
<p innerHTML="{{ 'home.description' | translate:locale.language }}"></p>
<br>
<p>{{ today | l10nDate:locale.language:{ dateStyle: 'full', timeStyle: 'short' } }}</p>
<p>{{ timeAgo | l10nTimeAgo:locale.language:'second':{ numeric:'always', style:'long' } }}</p>
<br>
<p>{{ 1000 | l10nNumber:locale.language:{ digits: '1.2-2', style: 'currency' }:locale.currency:convertCurrency:{ rate: 1.16 } }}</p>
<p>{{ 1 | l10nNumber:locale.language:{ digits: '1.0-2', style: 'unit', unit: locale.units['length'] }:undefined:convertLength }}</p>
<br>
<p>{{ 1 | l10nPlural:locale.language:'home.devs':{ type: 'cardinal' } }}</p>
<p>{{ 2 | l10nPlural:locale.language:'home.devs':{ type: 'cardinal' } }}</p>