<!--app component view-->

<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ 'TITLE' | translate }}</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{active: location.path() == ''}"><a [routerLink]="['Home']">home</a></li>
                    <li [ngClass]="{active: location.path() == '/i18n'}"><a [routerLink]="['I18n']">{{ 'I18N' | translate }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'CHANGE_LANGUAGE' | translate }}&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a class="btn btn-default btn-block" (click)="selectLanguage('en')">&nbsp;English&nbsp;<i class="glyphicon glyphicon-ok" *ngIf="currentLanguage == 'en'"></i></a></li>
                            <li><a class="btn btn-default btn-block" (click)="selectLanguage('it')">&nbsp;italiano&nbsp;<i class="glyphicon glyphicon-ok" *ngIf="currentLanguage == 'it'"></i></a></li>
                            <!--add a new language here-->

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<main>

    <!--router outlet-->
    <router-outlet></router-outlet>

</main>