<!--home component view-->

<div class="container">

    <!--injects a key from the component-->
    <h1>{{ greeting | translate }}!</h1>

    <p>{{ 'DESCRIPTION' | translate }}:</p>

    <div class="row">

        <div class="col-sm-6">

            <blockquote class="blockquote-reverse">

                <p>{{ 'DUMMY_TEXT' | translate }}</p>
                <footer>{{ 'AUTHOR' | translate }},&nbsp;<cite title="Source Title">{{ 'SOURCE_TITLE' | translate }}</cite></footer>

            </blockquote>

        </div>

    </div>

</div>